*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #ffff;
}
html,body{
 width: 100%;
 height: 100%;
 background-color: rgb(74, 66, 67);
 color: #ffff;
}
.counterCss{
  background-color: rgb(108, 102, 103) ;
  margin: 30px;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(153, 150, 150);
  border-radius: 10px;
  font-size: 100px; 
}
.btnCss{
  width: 135px;
  padding: 10px;
  margin-left: 30px;
  background-color: rgb(108, 102, 103) ;
  border: none;
   border: solid 1px rgb(153, 150, 150);
  border-radius: 10px;
}
h1{
  margin: 30px;
}
form {
  display: flex;
  flex-direction: column;
}
form input{
  /* width: 300px; */
  padding: 10px;
  margin: 20px 30px;
  color: black;
  outline: none;
  border: solid 1px grey;
  border-radius: 10px;
}
form button{
  margin:30px;
  padding: 10px 20px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 1px grey;
  border-radius: 10px;
  cursor: pointer;
}
 form button:hover{
    background-color: black;
    color: #ffff;
  }
.parent{
  display: flex;
  }
.card{
  width: 300px;
  height: 250px;
  background-color: rgb(97, 99, 102);
  padding: 10px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px grey;
  border-radius: 10px;
  cursor: pointer;
}
.card img{
  height: 100px;
  width: 100px;
  padding: 2px;
  border: solid 1px gray;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.card .top-card h1{
  margin: 10px;
}
