.btnCss{
    background-color: green;
    width: 200px;
    padding: 10px 20px;
    margin: 10px 20px;
    border: solid 1px white;
    border-radius: 10px;
    color: white;
    text-align: center;
}