
.card{
  height: 350px;
  width: 350px;
  background-color: rgb(23, 92, 23);
  border: solid 1px white;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  img{
    height: 100px;
    width: 100px;
    padding: 2px;
    border: solid 1px white;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
}
.card:hover{
  background-color: greenyellow;
}
.card .bottom-card-section{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
   .iconCss{
    display: flex;
    background-color: #fff;
    padding: 10px 20px;
  }
}
/* .card .bottom-card-section .iconCss{
    background-color: fff;
  } */
